@import "mixins";
nav {
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    box-shadow: 0px 0px 50px 20px $theme-dark;
    font-size: 30px;
    display: block;
    background-color: $theme-light;
    padding: 0px;
    ul {
        li {
            padding: 15px;
            display: inline-block;
            margin: 0px;
            @include transition(.4s);
            &:hover {
                padding-left: 30px;
                padding-right: 30px;
                background-color: $theme-secondary;
                cursor: pointer;
                color: $theme-light;
            }
        }
    }
}

@media (max-width: 720px) {
    nav {
        @include transition(.4s);
        top: auto;
        bottom: 0;
        padding: 0px;
        ul {
            li {
                b {
                    display: none;
                }
                width: 22%;
                margin: 0;
                padding: 10px 30px 10px 30px;
            }
        }
    }
}