//Variables
$theme-primary: rgb(119, 113, 230);
$theme-secondary: rgb(51, 14, 80);
$theme-dark: rgb(44, 44, 44);
$theme-light: rgb(187, 187, 187);
$navbar-items: 4;
$navbar-height: 55px;
$article-margin: 30px;
$radius: 7px;
$grid-columns: 12;
$grid-max-width: 65em;
// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 720px)";